@charset "utf-8";
/* nanumgothick */
@font-face{
font-family:'NanumGothic';
font-weight:normal;
src:url(../font/NanumGothic-Regular.eot);
src:url(../font/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'),url(../font/NanumGothic-Regular.woff) format('woff'),url(../font/NanumGothic-Regular.ttf) format('truetype')
}
@font-face{
font-family:'NanumGothic';
font-weight:bold;
src:url(../font/NanumGothic-Bold.eot);
src:url(../font/NanumGothic-Bold.eot?#iefix) format('embedded-opentype'),url(../font/NanumGothic-Bold.woff) format('woff'),url(../font/NanumGothic-Bold.ttf) format('truetype')
}

/* NotoSans */
font-face{
font-family:'NotoSans';
font-weight:normal;
src:url(../font/NotoSans-Regular.eot);
src:url(../font/NotoSans-Regular.eot?#iefix) format('embedded-opentype'),url(../font/NotoSans-Regular.woff) format('woff'),url(../font/NotoSans-Regular.ttf) format('truetype')
}
font-face{
font-family:'NotoSans';
font-weight:bold;
src:url(../font/NotoSans-Bold.eot);
src:url(../font/NotoSans-Bold.eot?#iefix) format('embedded-opentype'),url(../font/NotoSans-Bold.woff) format('woff'),url(../font/NotoSans-Bold.ttf) format('truetype')
}

/* Reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,p,table,th,td,form,fieldset,legend,textarea,input,select,textarea,button,article,aside,dialog,footer,header,section,footer,nav,figure,main{margin:0;padding:0}
article,aside,dialog,footer,header,section,footer,nav,figure,main{display:block}
html,body{/*height:100%;-webkit-text-size-adjust:none;-ms-text-size-adjust:none*/}
body,input,select,textarea,button{font-family:'NotoSans','Noto Sans','NanumGothic','Malgun Gothic','맑은고딕','Apple SD Gothic Neo',Dotum,'돋움',sans-serif;font-size:12px}
fieldset,li,img{border:0;vertical-align:top}
ul,ol{list-style:none}
button{overflow:visible;border:0;background-color:transparent;cursor:pointer}
button::-moz-focus-inner{padding:0;border:0}
address,caption,em{font-style:normal}
a,a:focus,a:active,a:hover{text-decoration:none}
table{border-collapse:separate;border-spacing:0}
input::-webkit-contacts-auto-fill-button{display:none !important;visibility:hidden;position:absolute;right:0;pointer-events:none}
input::-ms-clear{display:none}
input::-ms-reveal{display:none}
select::-ms-expand{display:none}
.inp::-webkit-input-placeholder{color:#999}
.inp::-moz-placeholder{color:#999}
.inp:-ms-input-placeholder{color:#999!important}
.blind,caption span,legend{overflow:hidden;position:absolute;top:0;left:0;width:1px;height:1px;font-size:1px;line-height:100px;white-space:nowrap}
.sp,header .link_live_score:after,.category .btn_maker,.info_marker .ico,.layer_marker_info .title_wrap .ico_maker,.nav_controll_wrap .btn_prev:before,.nav_controll_wrap .btn_next:before,.layer_marker_info .btn_wrap .btn_group_detail:after,.search_bx .btn_delete:before,.search_bx .inp_area:before,.sec_live_score .tit_txt:before,.round_info .link_player_detail:after,.player_profile .country:before,.facilities_marker .ico,.facilities_marker .marker_info_txt,.layer_marker_info .btn_layer_close,.layer_marker_info .btn_layer_close:before,.layer_player_info .btn_close{display:inline-block;overflow:hidden;background:url(../img/sp.png) no-repeat;line-height:999px}

.skip{height:0}
.skip a{display:block;position:absolute;top:-100px;left:0;width:100%;height:25px;text-align:center}
.skip a:focus,#skip a:active{position:absolute;top:0;z-index:100;padding:10px 0;background:#000;font-weight:bold;font-size:20px;color:#fff;text-decoration:none}

.wrap{min-width:1280px;padding-top:56px}
.is_no_scroll{min-width:auto}
.is_m_show{display:none}




/* index */
.header {
	margin-top: 20px;
	width: 100%;
	text-align: center;
	color: #747943;
    font-family: 'NotoSans','Noto Sans','NanumGothic','Malgun Gothic','맑은고딕','Apple SD Gothic Neo',Dotum,'돋움',sans-serif;
}

.container {
	width: 100%;
	height: 600px;
	margin: 20px auto;
	background-repeat:no-repeat;
	background-position:center top;
	background-image:url('../images/0818.png');
}